# .windsurfrules file
.windsurfrules
.cursor
.idea
.cursorrules
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.pyo
*.pyd

# Virtual Environment
venv/
env/
ENV/
/backend/venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Node
node_modules/
.pnp
.pnp.js
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
package-lock.json

# Environment variables
.env
.env.local
.env.*.local
.env.vulnerable
/backend/credentials/*.json
/backend/credentials/.env
/backend/.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn-error.log

# OS
.DS_Store
Thumbs.db
*.pem

# Cursor rules
.cursor/rules/

# Next.js
/.next/
/out/

# Testing
/coverage

# Production
/build

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Vercel
.vercel

# Mark-track specific
/mark-track/node_modules/
/mark-track/.pnp
/mark-track/.pnp.*
/mark-track/.yarn/*
!/mark-track/.yarn/patches
!/mark-track/.yarn/plugins
!/mark-track/.yarn/releases
!/mark-track/.yarn/versions
/mark-track/coverage/
/mark-track/.next/
/mark-track/out/
/mark-track/build/
/mark-track/*.tsbuildinfo
/mark-track/next-env.d.tss
/mark-track/.vercel
/mark-track/package-lock.json
/mark-track/yarn-error.log
/mark-track/backend/venv/
/mark-track/backend/credentials/*.json
/mark-track/backend/credentials/.env
/mark-track/backend/.env
